<footer>
     <ul>
         <li>PizzaYa <sup>&reg;</sup> todos los derechos reservados </li>
         <li>siguenos en nuestras redes sociales <a href="$">Faceboook</a> <a href="#">Twiter</a></li>  
         <li>{{get_anio}}</li>
         <li></li>
     </ul>
</footer>
</html>