<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="esta es la pagina de pizzas de maolo tu sabe ome gonorrea ome">
    <link rel="stylesheet" href="/assets/styles/styles.css">
    <script src="/assets/js/p5.js"></script>
    <script src="/assets/js/sketch.js"></script>
    <title>Pizzaya</title>
</head>